* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  display: inline-block;
  color: red;
  margin: 0 8px 16px 0;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  width: 120px;
  height: 36px;
  border-radius: 6px;

  font-weight: bold;
  transition: background-color 0.15s;
}

.btn:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

textarea {
  display: block;
  margin: 12px auto;
  resize: none;
  padding: 12px 20px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}

.container {
  max-width: 480px;
  margin: auto;
  text-align: center;
  border: 2px solid #fff;
  padding: 32px;
  margin-top: 16px;

  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.2);
}

.btn-container {
  display: inline-block;
  position: relative;
}

.copy-text {
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: -100%;
  background-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 210%;
  left: 50%;

  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltiptext.active {
  visibility: visible;
  opacity: 1;
}

.content {
  position: relative;
  display: block;
}

/* Mobile Phone*/
@media only screen and (max-width: 740px) {
  .container {
    border: none;
    box-shadow: none;
    padding: 8px;
  }
  textarea {
    max-height: 280px;
    max-width: 280px;
  }

  .context h1 {
    font-size: 46px;
  }
}

@media only screen and (max-height: 586px) {
  textarea {
    max-height: 240px;
  }
}

/* Mobile Phone*/
@media only screen and (max-height: 412px) {
  .container {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  textarea {
    max-height: 180px;
  }
}
